# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
.Trash-*

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Local server
.cache/
